/*
#postTitle {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-size: 2em;
   min-height: 20px;
}

.Medium-placeholder {
}

#post-well {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   min-height: 100px;
}

.jquery-notebook.bubble button {
   margin-top: 0px;

}
*/
