@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600);

.centered {
   text-align: center;
}

.hide {
   display: none;
}

body {
   border-top: 10px solid #FF0080;
   margin: 0 0 50px 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   color: #555;
   background-color: #F5F5F5;
}

strong {
   color: #FF0080;
   font-weight: 600;
}

.content {
   clear: both;
}

header .content {
   text-align: center;
}
footer .content {
   text-align: center;
   padding-top: 20px;
}

.row {
   padding: 0 20px;
}

.container {
   max-width: 960px;
   margin: 0 auto;
}

.container img {
   width: 100%;
}

h1, h2, h3, h4, h5, h6 {
   color: #FF0080;
   font-weight: 300;
   text-align: center;
   clear: both;
}

.meta {
   border-top: 1px solid #555;
   border-bottom: 1px solid #555;
   font-family: Georgia, Times, serif;
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.meta li {
   margin-top: 8px;
   margin-bottom: 8px;
   margin-right: 0px;
   margin-left: 0px;
   padding: 0px;
}

.buttonBar {
   border: 1px solid #999;
   border-bottom: 0px;
   list-style: none;
   padding: 5px;
   margin: 0;
}
.buttonBar li {
   display: inline;
   padding: 0;
}
.buttonBar li:hover {
   color: #4EA3D0;
}

blockquote {
   background: #f8f9f9;
   border-left: 4px solid #ccc;
   padding: 6px 30px;
   margin: 0;
}

a {
   color: #4ea3d0;
   text-decoration: none;
   transition: color .25s ease-in-out;
   -moz-transition: color .25s ease-in-out;
   -webkit-transition: color .25s ease-in-out;
}
a:visited {
   color: #4ea3d0;
}
a:hover {
   color: #FF0080;
}

p {
   font-weight: 400;
   line-height: 1.4em;
}

.CodeMirror {
   font-size: 15px;
   border: 1px solid #999;
}

.post {
   max-height: 300px;
   min-height: 100px;
   overflow: hidden;
   margin-bottom: 20px;
}
.post span {
   position: absolute;
   padding: 10px;
   font-size: 2em;
   background-color: white;
   opacity: .5;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.post:hover span {
   opacity: .9;
}
.post img {
   margin-top: -100px;
   width: 100%;
}

.button { 
   border: 1px;
   border-radius: 10px;
   padding: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 1em;
   color: #FFFFFF; 
   background-color: #999999; 
   border-color: #FFFFFF; 
} 

.button:hover, 
.button:focus, 
.button:active, 
.button.active, 
.open .dropdown-toggle.button { 
   color: #FFFFFF; 
   background-color: #FF0080; 
   border-color: #FFFFFF; 
} 

input {
   width: 200px;
   line-height: 2.5em;
   display: block;
}
